/*************************
*******Typography******
**************************/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Abel);
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'MontserratAlternates-Bold';
    src: url('../../fonts/MontserratAlternates-Bold.otf');
}

@font-face {
    font-family: 'DroidSans-Bold';
    src: url('../../fonts/DroidSans-Bold.ttf');
}

@font-face {
    font-family: 'DroidSans';
    src: url('../../fonts/DroidSans.ttf');
}

@font-face {
    font-family: 'RobotoSlab-Bold';
    src: url('../../fonts/RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: 'RobotoSlab-Light';
    src: url('../../fonts/RobotoSlab-Light.ttf');
}

@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url('../../fonts/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: 'RobotoSlab-Thin';
    src: url('../../fonts/RobotoSlab-Thin.ttf');
}

@font-face {
    font-family: 'Coolvetica';
    src: url('../../fonts/coolvetica.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../../fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../../fonts/OpenSans-Regular.ttf');
}
.local_business
{
    background:url('../img/for_local_businesses.jpg')center no-repeat;
    background-size:cover;
    height:250px;
}

.get-about
{
    background:url('../img/for_local_businesses.jpg')center no-repeat;
    background-size:cover;
    height:180px;
}
.get-bg-white
{
    background-color:white;
    height:180px;
}

.get-bg-white2
{
    background-color:white;
    height:250px;
}

.suki_points
{
    background:url('../img/delivery-points.jpg')center no-repeat;
    background-size:cover;
    height:180px;
}
.main-container {
  padding: 0px 0px 10px 0px;
}
.bg1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), rgba(0, 0, 0, 0.4) url("../img/grocerybanner1.jpg") no-repeat center;
  background-size:100% 100%;
  position: relative;
  overflow: hidden;
}


.bg2 {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), rgba(0, 0, 0, 0.4) url("../img/grocerybanner2.jpg") no-repeat center;
 background-size:100% 100%;
  position: relative;
  overflow: hidden;
}
.bg3 {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), rgba(0, 0, 0, 0.4) url("../img/grocerybg3.jpg") no-repeat center;
 background-size:100% 100%;
  position: relative;
  overflow: hidden;
}

.promo1 {
  background:url("../img/promotion1.png") no-repeat center;
 background-size:100% 100%;
  position: relative;
  overflow: hidden;
}

.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 400px; 
	height: 100%;
	width:100%; 
}
.carousel .promotion_item {
  min-height: 250px; 
  height: 100%;
  width:100%; 
}
.carousel-caption{
	margin-bottom: 70px;
}

.total
{
  margin-top: 5px !important;
}
.margin0
{
  margin: 0px;
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
  
}
.carousel-caption h3{
  font-family: 'MontserratAlternates-Bold' !important;
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
}
.carousel-caption button {
	border-color: #00bfff;
	margin-top: 1em; 

}

.carousel-caption h3 {
    border-color: #00bfff;
    margin-top: 1em; 
    font-family: 'MontserratAlternates-Bold';

}

/* Animation delays */
.carousel-caption h3:first-child {
	animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
	animation-delay: 2s;
}
.carousel-caption button {
	animation-delay: 3s;
}
.logo-2
{
    margin-bottom:0px;
}
h1 {
  text-align: center;  
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
}

.p {
  padding-top: 125px;
  text-align: center;
}

.p a {
  text-decoration: underline;
}

.heading
{
	font-family: 'DroidSans',sans-serif;
}

.heading span 
{
	color:#FE980F;
	font-weight: bold;
}

.heading_divider {
    width: 90px;
    height: 4px;
    background: #FE980F;
    margin: 10px auto;
}

.services-logo
{
	height: 130px;
}

.shadow{
    background: url(../img/shadow.png) no-repeat 50% transparent;
    display: block;
    margin: 10px auto 10px auto;
    width: 132px;
    height: 10px;
    background-size: cover;

}

.subheading
{
	font-family: Open Sans,Arial,sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 16px;
}

.services-text
{
	font-family: Arial,sans-serif;
	font-size: 14px;
	text-align: center;
}

.how_it_works
{
	height:180px;
	background:url("../img/how-it-works-sprite3.png") no-repeat center;
	background-size: contain;
}

.badge
{
	background-color:#F6BA10;
}

.works
{
	font-family: 'DroidSans',sans-serif;
	margin-bottom: 10px;
}

.works span 
{
	color:#FE980F;
	font-weight: bold;
	margin-left:10px;
	position: absolute;
	top:0;
}
.works-text
{
  margin-top:50px;
  font-family: Arial,sans-serif;
  font-size: 12px;
  letter-spacing: 1px
  text-align: center;
}




.arrow
{
	background: url(../img/arrow.png) no-repeat;
    display: inline-block;
    height: 30px;
    width: 25px;
}

.testimonials
{
	min-height: 300px;
	box-shadow: 0 1px 18px 0 rgba(0,0,0,.05);
	padding-top: 50px;
	padding-bottom:50px;
    z-index: 5;
}

.testimonial{
    margin: 0 15px;
}
.testimonial .content{
    padding: 15px 10px;
    border-radius:6px;
    margin-bottom: 15px;
    position: relative;
    background:#ECECEC;
    min-height: 100px;
}
.testimonial .content:after{
    content: "";
    border-top: 10px solid #ECECEC;
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 16%;   
}
.testimonial .description{
    margin-bottom: 10px;
    color:black;
    font-family: 'DroidSans';
}
.testimonial-pic{
    float:left;
}
.testimonial-pic > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    margin-left: 20px;
}
.testimonial .testimonial-review{
    margin:3px 0 0 15px;
    float: left;
}
.testimonial .testimonial-title{
    font-size:16px;
    text-transform:capitalize;
    font-weight: bold;
    margin:0;
}
.testimonial > .testimonial-review span{
    color: darkgray;
    display: block;
    font-size: 13px;
    margin-bottom:5px;
}
.testimonial .social-links{
    padding:0;
    margin:0;
}
.testimonial .social-links > li{
    list-style:none;
    display:inline-block;
    margin-right:10px;
}
.testimonial .social-links > li > a.fa-twitter{
    color:#00aced;
}
.testimonial .social-links > li > a.fa-facebook{
    color: #3b599a;
}
.testimonial .social-links > li > a.fa-instagram{
    color:#E14782;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #FE980F;
}
.owl-theme .owl-controls .owl-page span{
    background: #333;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height:10px;
    margin: 5px 6px;
}

.get_to_know_us
{
    min-height:350px;
    background-color:#F8F8F8;
    margin-top:-130px;
    position: relative;
    padding-top:180px;

    padding-bottom: 50px;
}

.get-text-heading
{
    font-family: 'DroidSans',sans-serif;
    font-weight: bold;
    font-size:16px;
}

.get-text
{
    font-family: Open Sans,Arial,sans-serif;
}
.get-button
{
    border:1px solid #FE980F;
    padding:10px 20px;
}


.about_us_banner
{
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), rgba(0, 0, 0, 0.4) url("../img/about_us.jpg") no-repeat top;
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 350px;
  width: 100%;
  padding-top: 110px;
}

.about_text_heading
{
    color:white;
    font-family: 'Coolvetica';
    letter-spacing: 2px;
    font-size: 36px;
}

.about_text
{
    color:white;
    font-family: 'Coolvetica';
    letter-spacing: 2px;
    font-size: 18px;
}

.about_us_content_container
{
    min-height: 300px;
    /*background-color: #F8F7F4;*/
}

.about_content_text
{   
    margin-top: 50px;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
}
.about_content_text span
{   
    color:#FE980F;
    font-weight: bold;
}

.about_stats
{
    margin-top: 30px;
    background-color: #FFCB00;
    padding-top: 30px;
    min-height: 170px;
}

.about_heading
{
    font-family: 'OpenSans-Bold';
    font-size: 24px;
}

.vision_text
{
    font-family: 'OpenSans-Regular';
    font-size: 28px;
}

.margintop0
{
    margin-top: 0px;
    font-family: 'MontserratAlternates-Bold';
}

.about_stats_text
{
  font-family: 'DroidSans',sans-serif;
}

.faqs_container
{
    margin-top: 50px;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #fff !important;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}

.panel-heading
{
    padding:15px;
    background-color: #fff !important;
}

.panel-title
{
    font-family: 'DroidSans';
}

.arrow-left
{
    font-size: 18px;
    color: #ccc;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.heading_divider2 {
    width: 90px;
    height: 4px;
    background: #FE980F;
    margin: 0px ;
    float: left;
    margin-bottom: 10px;
}

.filter-menu
{
  margin:20px 0px;
  box-sizing: border-box ;
  font-size: 1.6rem ;
  font-weight: 300 ;
  font-size: 2rem ;
  padding-left: 12px ;
  padding-right: 12px ;
  height: 48px ;
  border-radius: 0 ;
  margin-top:15px ;
  font-family: 'OpenSans-Regular' ;
}

.filter-menu:focus
{
  border-color:3px solid #FE980F !important;
}

.filter-menu:active
{
  border-color:3px solid  #FE980F;
}

.promo
{
  width:18%;
  background-color: #FFCB00;
  color:black;
  padding:10px;
  position: fixed;
  z-index: 60;
  right:100px;
  border-radius: 3px;
  animation: bounce 2.5s linear infinite ;
  -webkit-animation: bounce 2.5s linear infinite ;
}



.promo-content
{
  padding:5px;
  border:2px dashed #000;
  border-radius: 2px;
  text-align: center;
}

.promo-content .promo-header
{
  font-family: 'Roboto-Bold';
  font-size: 20px;  
}

.promo-content .promo-sub
{
  margin-top: 0px;
  font-family: 'RobotoSlab-Regular';
  font-size: 14px;  
}

.promo_arrow {
    border-color: transparent transparent #FFCB00 transparent;
    border-style: solid;
    border-width: 10px;
    display: block;
    height: 0;
    right: 20px;
    position: absolute;
    top: -20px;
    width: 0;
}
@media only screen and (min-width : 320px) and (max-width : 800px){
    .promo
    {
        width:40% !important;
        right: 40px !important;
        background:rgba(255,203,0,0.8);
    }
    .promo-content .promo-header {
    font-size: 16px;
    }
    .promo-content .promo-sub {
    font-size: 10px;
    }
    .promo_arrow
    {
      border-color: transparent transparent rgba(255,203,0,0.6) transparent ;
    }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.products-container
{
  min-height: 300px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #F0F0F0;
  margin-left:0px;
}

.product-container:hover
{
  -webkit-box-shadow: 0 0 17px rgba(0,0,0,.09);
        box-shadow: 0 0 17px rgba(0,0,0,.09);
}

.products-container .product-name
{
  margin-top:10px;
  font-size:15px;
  margin-left: 10px;
  letter-spacing: 1px;
  max-width: 85%;
  word-break:break-all;
}


.wrap_txt{

  max-width: 100%;
  word-break:break-all;
}
.products-container .product-desc
{
  font-size:12px;
  margin-left: 10px;
  letter-spacing: 1px;
  max-width: 85%;
  word-break:break-all;
}

.products-container .product-price
{
  position: absolute;
  bottom:40px;
  font-size:14px;
  margin-left: 10px;
  letter-spacing: 1px;
}
.add_to_cart_main_container
{
  position:absolute;
  bottom:0;
  width:100%;
  padding:0px;
  bottom:-2px;
  
}


.add_to_cart_container
{
  width: 100%;
  height: 40px;
  padding:0;
}

.product-container .panel-body
{
  padding:0px 10px 0px 15px;
}

.prod_img
{
  height:188px;
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center;
}

.product-cont
{
  height:188px;
}

.prod_quantity
{
  height: 100% !important;
  width: 100%;
  border-bottom: none;
  border-right:none;
}
.prod_quantity:focus
{
  border-bottom: none;
  -moz-box-shadow:0 2px 2px rgba(78,78,78, 0.5);
  -webkit-box-shadow: 0 2px 2px rgba(78,78,78, 0.5);
  box-shadow: 0 2px 2px rgba(78,78,78, 0.5);
}
.add_to_cart_btn
{
  background: #FE980F;
  color:white;
  height: 100% ;
  margin:0px;
  width: 97%;
  padding:8px;
  border-radius: 0px;
}

.add_to_cart_btn:active,.add_to_cart_btn:hover,.add_to_cart_btn:focus
{
  background: #FE980F !important;
  color:white !important;
}

.checkout_btn
{
  background: transparent;
  color:white;
  border: 2px solid white;
  padding:5px 20px;
  font-family: 'Lato-Bold';
}

.checkout_btn:hover, .checkout_btn:focus
{
  background: white !important;
  border: 2px solid black;
}

.banner_promotions
{
  height:100px;
}

.banner_promotions_container
{
  height: 250px;
}

.android 
{
  height:75px;margin-left:-10px;
}
.search_main_container
{
  z-index: 1;
}


.categories_menu
{
  background: #FE980F;
  color:white;
  min-height: 15px;
  padding:7px 0px 0px 0px;
  -moz-box-shadow:0 2px 2px rgba(78,78,78, 0.5);
  -webkit-box-shadow: 0 2px 2px rgba(78,78,78, 0.5);
  box-shadow: 0 2px 2px rgba(78,78,78, 0.5);
}

.categories_menu .filter span 
{
  font-family: 'Roboto-Medium',sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.products_container
{
  background: #FFFFFF;
  margin-top:20px;
  width:97%;
  margin-left:1.5%;
}

@media only screen and (min-width : 320px) and (max-width : 1000px){
  .badge
  {
    display: none;
  }
  .works
  {
    font-family: 'DroidSans',sans-serif;
    text-align: center;
  }
  .works-text {
    margin-top: 10px;
    font-family: Arial,sans-serif;
    font-size: 12px;
    text-align: center;
  }
  .works span 
  {
    color:#FE980F;
    font-weight: bold;
    position: relative;
    display: block;
    text-align: center;
    top:0;
    width: 100%;
    margin-bottom: 0px;
  }
  .testimonials
  {
    padding-top: 0px;
  }
  .remove_br
  {
    display: none;
  }
}



@media only screen and (min-width : 320px) and (max-width : 800px){
  .mainmenu
  {
    z-index:1000;
    position:fixed;
  }
  .stick_main_menu
  {
    padding-top: 90px;
    z-index:1000;
    position:fixed;
    margin-top: 100px;
  }

  .stick_main_menu2
  {
    z-index:1000;
    position:fixed;
    margin-top: -10px;
  }
}

.load_more_btn
{
  border-radius: 3px !important;
  width: 90%;
  font-size: 14px;
  letter-spacing: 2px;
  padding:10px 10px;
  font-family: 'Roboto-Bold';
}

.load_more_btn:active, .load_more_btn:focus
{
  background: #FE980F !important;
}



.changethisone a {
    color: #000;
}
.input-group-addon
{
  background: transparent;
}

.input-group-addon:hover
{
  cursor: pointer;
}

.changethisone input{
    border-right-style:none;
}

.dropdown-menu>.active>a{
    background-color: #FE980F !important;
}

.cart_info
{
  background: rgba(254,222,9,0.75);
  color:black;
  width:200px;
  min-height: 50px;
  position: fixed;
  bottom: 30px;
  border-radius: 3px;
  left:20px;
  z-index: 999;
}

.cart_info p 
{
  font-family: 'OpenSans-Bold';
}


@media only screen and (min-width : 320px) and (max-width : 800px){
  .promotion_item
  {
     min-height: 100px !important; 
  }
}

.margin_top0
{
  margin-top: 0px;
}

.pabile_wallet_desc
{
  font-family: 'Roboto',sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
}