.inline {
    display:inline-block;
}
.nopadding
{
	padding:0px;
}
.border 
{
	border:1px solid red;
}
.padding5
{
	padding:5px;
}
.paddingr2
{
	padding-right: 2px;
}
label .error
{
	font-color:red !important;
	font-style: normal;
}
.error{
	font-color:red;
	font-style: normal;
}
.forgot_account
{
	float:right !important; 
}
.deactivate_row
{
	background: rgba(255, 0, 0, 0.1) !important;
}

#accordion .panel{
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 15px;
}
#accordion .panel-heading{
    padding: 0;
}
#accordion .panel-title a{
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
    background: #fff;
    border: none;
    border-bottom: 2px solid #00A65A;
    padding: 15px 20px 15px 47px;
    position: relative;
    transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed{
    border-bottom-color: #ddd;
    color: #888;
}
#accordion .panel-title a:before{
    content: "\f106";
    font-family: 'FontAwesome';
    font-size: 18px;
    position: absolute;
    top: 30%;
    left: 20px;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed:before{
    content: "\f107";
}
#accordion .panel-body{
    font-size: 15px;
    color: #8c8c8c;
    line-height: 25px;
    background: #f6f6f6;
    border: none;
    padding: 14px 20px;
}

fieldset
{
    border: solid 1px #000;
    padding:10px;
    display:block;
    clear:both;
    margin:5px 0px;
}
legend
{
    padding:0px 10px;
    background:black;
    color:#FFF;
}
#buildyourform input.fieldname
{
    margin:5px;
}
#buildyourform select.fieldtype
{
    margin:5px;
}
.fieldname
{
    display: inline-block;
}
.inline
{
    display: inline-block;
}
.control-label
{
    width:85%;

}
.controls
{
    width:15%;
    float:right;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-s6z2{text-align:center}
.tg .tg-lqy6{text-align:right;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}

.none
{
    display: none;
}

.subquestion
{
    margin-left: 30px;
}

.marginbottom10
{
    margin-bottom: 10px;
}

@media only screen and (max-width: 1300px) {
    .table-responsive
    {
      display:block ;
    }
}

.bggrey
{
    background-color: red !important;
}

.margin_top10
{
    margin-top: 10px;
}

.login-box-body
{
    border-top:4px solid #3C8DBC;
}

.login-footer
{
    background-color: #F2F2F2;
    padding:10px 20px;
    min-height: 40px;
}

.login-page
{
    background-color: #E9E9E9;
}

.login-box
{
    margin-top: 50px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}
.login-logo
{
    margin-top: 4%;
}

.red
{
    color:red;
}
.green
{
    color:green;
}

.top_header
{
    min-height:50px;background:#01478F;
}

/*************************
*******Header CSS******
**************************/

.header_top {
  background: none repeat scroll 0 0 #01478F;
}

.contactinfo ul li:first-child{
    margin-left: -15px;
}

.contactinfo ul li a{
  font-size: 12px;
  color: white;
  font-family: 'Roboto', sans-serif;
}




.social-icons ul li a {
  border: 0 none;
  border-radius: 0;
  color: #fff;
  padding:0px;
}


.social-icons ul li{
    display:inline-block;
}

.social-icons ul li a i {
  padding: 11px 15px;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover{
  color: #fff;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.btn-flat
{
  border-radius: 0px;
}
.fa-facebook:hover {
  background: #3b5998;
}

.fa-twitter:hover  {
    background:#5BBCEC;
}
.fa-instagram:hover  {
    background:#C039B1;
}

.fa-linkedin:hover  {
    background:#FF4518;
}

.fa-dribbble:hover  {
    background:#90C9DC;
}

.fa-google-plus:hover  {
    background:#CE3C2D;
}

body
{
    background:url('../img/shattered.png');
}
.home_footer
{
  min-height:50px;background:#222222;position: relative;bottom: 0;width:100%;
}
.login-page
{background: transparent;
  min-height: 100%;
}

@media only screen and ( max-width: 768px ) {
    .social-icons{ text-align: center !important;
            float:none !important;
     }
     .contactinfo
     {
        text-align: center !important;
     }
}

.main-header, .navbar,.skin-blue-light .main-header .logo{
    background:#051A4B !important;
}

.padding0
{
  padding:0px;
}
.box
{
  border-top: 3px solid #051A4B;
}
.box-header.with-border
{
  border-top:1px solid #051A4B;
}

.post_type_text
{
  width: 100%;
  min-height: 130px;
  background-color: #F0AD4E;
}

.post_type_image
{
  width: 100%;
  min-height: 130px;
  background-color: #428BCA;
}

.post_type_pdf
{
  width: 100%;
  min-height: 130px;
  background-color: #C9302C;
}

.post_type_doc
{
  width: 100%;
  min-height: 130px;
  background-color: #5CB85C;
}
.post_type:hover
{
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.51);
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.51);
}
.post_type i 
{
  color:white;
  font-size: 5em;
  margin-top: 10px;
}

.post_type p
{
  color:white;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.banner_vision
{
  background-color: #F72300;
  padding: 10px 20px;
}
.banner
{

   padding: 10px 20px;
}
.banner p 
{
  display: table-cell; vertical-align: middle;
  margin:0px auto;
  color:white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

#ribbon{
  background:#fa6f57;
  height: 30px;
  min-width:250px;
  display: inline-block;
  position: relative;
  color:#FFF;
  line-height: 30px;
  padding:0px 20px;
  margin-top: 20px;
}

#ribbon:after{
  content:"";
  height:0;
  width: 0;
  top:0px;
  right:-30px;
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #fa6f57;
}

#ribbon:before{
  content:"";
  height:0;
  width: 0;
  top:0px;
  right:-30px;
  position: absolute;
  border-style: solid;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #fa6f57;
}


.vision_bg
{
  background: #F72300 !important;
}

.vision_bg:after{
  border-bottom: 30px solid #F72300 !important;
}

.vision_bg:before{
  border-top: 30px solid #F72300 !important;
}


.mission_bg
{
  background: #3A98C9 !important;
}

.mission_bg:after{
  border-bottom: 30px solid #3A98C9 !important;
}

.mission_bg:before{
  border-top: 30px solid #3A98C9 !important;
}

.quality_bg
{
  background: #0ED6CA !important;
}

.quality_bg:after{
  border-bottom: 30px solid #0ED6CA !important;
}

.quality_bg:before{
  border-top: 30px solid #0ED6CA !important;
}

.mandate_bg
{
  background: #FF0048 !important;
}

.mandate_bg:after{
  border-bottom: 30px solid #FF0048 !important;
}

.mandate_bg:before{
  border-top: 30px solid #FF0048 !important;
}

.contact_bg
{
  background: #FF0048 !important;
}

.contact_bg:after{
  border-bottom: 30px solid #FF0048 !important;
}

.contact_bg:before{
  border-top: 30px solid #FF0048 !important;
}

.vision_bg p , .mission_bg p , .quality_bg p , .mandate_bg p, .contact_bg p
{
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}

.lspu_info
{
  margin-left: 10px;
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 18px;
}

.lspu_branch
{
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
.lspu_info2
{
  letter-spacing: 1px;
  font-size: 14px;
}
.lspu_info2 i
{
  margin-right: 5px;
}

.post_icon
{
  border: 1px solid #F4F4F4;
  border-bottom: none;
  padding: 60px 10px;
}
.post
{
  margin-top: 10px;
}
.post:hover
{
  box-shadow: 0px 1px 5px #242424;
}

.mailbox-attachment-info
{
  min-height: 70px;
}

/* Flexible iFrame */

.flexible-container {
    position: relative;
    /* This blank line was probably:
    || padding-top: 56.25%;
    */
    height: 0;
    overflow: hidden;
}

/* This ruleset says:
|| "Apply the following properties and their values to ANY `<iframe>`,
|| `<object>`, or `<embed>` THAT IS A CHILD OF any element with the 
|| class of `.flexible-container`.
*/
.flexible-container iframe,   
.flexible-container object, 
.flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}